body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Um tom de cinza claro para o fundo */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #fff; /* Fundo branco para os cartões */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.movie-image {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-details p {
    margin: 10px 0;
}
